---
import "../styles/global.css";
---
<section class="py-8 px-4 bg-[#FFE1E0] flex justify-center">
  <div class="bg-white/80 backdrop-blur-sm rounded-xl shadow-lg p-6 max-w-md w-full text-center">
    <h3 class="text-2xl font-semibold text-gray-800 mb-4">Código de Vestimenta</h3>

    <p class="font-medium text-gray-600 mb-2">Evitar:</p>
    <ul class="flex flex-col items-center list-disc mb-4 text-gray-700">
      <li class="text-center">Rosa-pastel</li>
      <li class="text-center">Rosa-palo</li>
    </ul>

    <p class="font-medium text-gray-600 mb-2">Recomendamos:</p>
    <ul class="flex flex-col items-center list-disc mb-4 text-gray-700">
      <li class="text-center">Negro</li>
      <li class="text-center">Plata</li>
      <li class="text-center">Rojo</li>
      <li class="text-center">Blanco</li>
    </ul>

    <p class="italic text-gray-500">Este código ayudará a que Italia pueda destacar en su gran día y tu combines correctamente con la decoración y temática de la fiesta.</p>
  </div>
</section>