---
// src/components/Confirmacion.astro
import fondoBoton from '../assets/img/fondo-boton.png';
---
<section
  class="px-6 py-10 text-center flex flex-col items-center justify-center"
  style={`background: url('${fondoBoton.src}') center/cover no-repeat;`}
>
  <h2 class="text-2xl font-bold text-white mb-3">
    Confirma tu asistencia
  </h2>
  <p class="text-white text-xl mb-6">
    Esta Invitaci칩n incluye 1 pase de acceso que es intransferible.
  </p>
  <p class="text-white mb-4">
    Recuerda que tus pases de acceso se autorizar치n al confirmar
  </p>
  <div class="pt-2">
    <h2 class="font-medium text-gray-200 mb-2">Evento exclusivo para mayores de 12 a침os.</h2>
  </div>
  <a
    href="https://wa.me/5216181066240?text=Deseo%20confirmar%20mi%20asistencia%20de%20solo%20un%20pase%20al%20evento%20de%20los%20quince%20a침os%20de%20Italia"
    target="_blank"
    rel="noopener noreferrer"
    class="inline-block bg-[#F49BAB] hover:bg-[#7F55B1] text-white font-medium text-base px-6 py-3 rounded-full transition duration-300 shadow-md"
  >
    Confirmar
  </a>

</section>
