---
// src/components/Galeria.astro

import '../styles/global.css';
import Foto4 from '../assets/img/Foto-4.jpg';
import Foto8 from '../assets/img/Foto-8.jpg';
import Foto16 from '../assets/img/Foto-16.jpg';
import Foto19 from '../assets/img/Foto-19.jpg';
import Foto30 from '../assets/img/Foto-30.jpg';
import Foto40 from '../assets/img/Foto-40.jpg';
import Foto48 from '../assets/img/Foto-48.jpg';

const galleryImages = [
	Foto4.src,
	Foto8.src,
	Foto16.src,
	Foto19.src,
	Foto30.src,
	Foto40.src,
	Foto48.src,
	Foto16.src,
];

const galleryConfig = {
	images: galleryImages,
	slideGap: 16,
	interval: 3000,
};
---

<section class="relative w-full overflow-hidden py-8 px-4">
	<div
		id="gallery-track"
		class="flex gap-4 transition-transform duration-700 ease-in-out"
	>
		{galleryConfig.images.map(src => (
			<div class="flex-shrink-0 w-[85%] max-w-xs aspect-[3/4] rounded-lg overflow-hidden mx-auto">
				<img src={src} alt="Imagen galería" class="w-full h-full object-cover" />
			</div>
		))}
	</div>

	<script type="module" client:load>
		import runGallery from '../scripts/galeria.ts';

		runGallery({
			images: [
				Foto4.src,
				Foto8.src,
				Foto16.src,
				Foto19.src,
				Foto30.src,
				Foto40.src,
				Foto48.src,
				Foto16.src,
			],
			slideGap: 16,
			interval: 3000,
		});
	</script>
</section>
