---
import "../styles/global.css";
import sobresImage from '../assets/img/sobres.jpg';
import fondoMesa from '../assets/img/fondo-mesa.jpg';
---

<section class="relative w-full">
  <!-- Ahora sí importa la URL corregida -->
  <img
    src={sobresImage.src}
    alt="Sobre Sorpresa"
    class="w-full h-auto block"
  />

  <!-- Overlay semitransparente -->
  <div class="absolute inset-x-0 top-0 h-1/2 bg-white/60"></div>

  <!-- Contenido centrado -->
  <div class="absolute inset-x-0 top-1/4 flex flex-col items-center px-4 text-center">
    <h2 class="text-3xl font-semibold text-gray-800 mb-2">Sobre Sorpresa</h2>
    <p class="italic text-lg text-gray-600">
      Tendremos en recepción un buzón para que puedas depositar tu sobre de regalo
    </p>
  </div>
  <div class="px-6 py-10 text-center flex flex-col items-center justify-center"
        style={`background: url('${fondoMesa.src}') center/cover no-repeat;`}>
    <h3 class="px-6 py-10 font-title text-5xl text-gray-800">Mesa de Regalos</h3>
    <a
    href="https://mesaderegalos.liverpool.com.mx/milistaderegalos/51686144"
    target="_blank"
    rel="noopener noreferrer"
    class="inline-block bg-[#F49BAB] hover:bg-[#7F55B1] text-white font-medium text-base px-6 py-4 rounded-full transition duration-300 shadow-md"
  >
    Regalar
  </a>
  </div>
</section>

