---
import "../styles/global.css"; 
---
<section class="flex flex-col items-center justify-center text-center p-4 font-body space-y-4 md:space-y-6 bg-[url('../../img/preview.jpg')] bg-cover bg-center bg-no-repeat py-6 sm:py-8 md:py-10">
    <div class="mx-auto max-w-md overflow-hidden rounded-xl bg-white/60">
        <div class="pt-4">
            <h2 class="text-lg text-black font-medium text-balance p-4 md:text-xl">"Quiero agradecer a Dios y a la vida por permitirnos celebrar los 15 a침os de nuestra amada Italia."</h2>
        </div>
        <div class="py-2">
                <h1 class="text-xl text-black p-4 font-bold mt-4 md:text-3xl">Mis Padres</h1>
                <p class="text-4xl text-black font-title md:text-lg">Astrid Veronica Gonz치lez Arjon</p> 
                <p class="text-base text-black font-title md:text-lg">&</p> 
                <p class="text-4xl text-black font-title md:text-lg">Gerardo Estupi침an Galindo</p>
            <div class=" py-4 pb-2">
                <h2 class="text-xl text-black p-4 font-semibold mt-6 md:text-2xl">Mis Padrinos</h2>
                <p class="text-3xl text-black font-title md:text-lg">Jonathan H. Gonz치lez Lugo</p>
                <p class="text-base text-black font-title md:text-lg">&</p> 
                <p class="text-3xl text-black font-title md:text-lg">Paulina Adriana Guerra Alcazar</p>
            </div>
        </div>
    </div>
</section>