---
import "../styles/global.css";
const songUrl = '/src/assets/musica.mp3';
---
<section class="flex items-center justify-center min-h-screen">
    <div class="flex flex-col items-center">
        <audio controls autoplay loop>
            <source src={songUrl} type="audio/mpeg">
        </audio>
        <p class="text-sm mt-2 py-5">By <a class="text-indigo-600" href="https://markidev.netlify.app/">MarkiDev</a></p> 
    </div>
</section>